.header {
  padding-top: 24px;
  padding-bottom: 25px;

  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #fff;
}

.section_color {
  background-color: #f5f4fa;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  margin: 0;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.our-work__title,
.our-team__title {
  margin-bottom: 50px;
}
