.footer-copy {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--third-text-color);
}

.footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--fourth-text-color);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}