.header {
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-logo {
    margin-right: 70px;
}

.header-list {
    display: none;
}

.header-navigation {
    @extend %align-list;
}

.header-container {
    @extend %align-list;
}

.header-item:not(:last-child) {
    margin-right: 30px;
}

.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
    transition: color 300ms linear;
    position: relative;
        &.active::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: #ff6c00;
        position: absolute;
        bottom: -48px;
        left: 0;
        border-radius: 2px;
    }
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}





.header-connect {
    margin-left: auto;
    display: none;
}

.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
}

.header-btn {
    color: var(--main-btn-color);
    margin-left: 40px;
}

.open-menu-btn {
    margin-left: auto;
}

.mob-menu {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    padding-top: 48px;
    padding-bottom: 48px;
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
    }
}

.mob-menu-bottom {
    margin-top: auto;
}

.close-menu-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 30px;
}

.mob-menu-item {
    &:not(:last-child) {
        margin-bottom: 24px;
    }
}



.mob-menu-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.1em;
    color: #303030;
}

.mob-menu-connect {
    margin-bottom: 64px; 
}

.mob-menu-tel {
    font-weight: 600;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.1em;
display: block;
margin-bottom: 24px;
color: #303030;
}
.mob-menu-btn {
}

.mob-social-item {
    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.mob-social-link {
    font-weight: 600;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.2em;

color: #303030;
}


