.reasons {
    padding-top: 130px;
    padding-bottom: 130px;
}

.reasons-left,
.reasons-right {
    width: calc(50% - 30px);
}
.reasons-list {
    width: 370px;
    display: flex;
    flex-wrap: wrap;
}
.reasons-item {
    width: 170px;
    height: 133px;
    border: 1px solid #000000;
    padding: 20px 24px;
}

.reasons-item:nth-child(odd) {
    margin-right: 30px;
}
.reasons-item:nth-child(even) {
    margin-top: 30px;
}
.reasons-count {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--fourth-text-color);
    display: flex;
    justify-content: center;
}

.reasons-count::after {
    content: "+";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: #ff6c00;
    margin-top: 5px;
}

.reasons-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--fourth-text-color);
}

.reasons-pre-title {
    color: var(--fourth-text-color);
}

.reasons-pre-title::before {
    background-color: var(--fourth-text-color);
}

.reasons-title {
    color: var(--second-title-color);
}

.reasons-after-title {
    color: var(--main-text-color);
}