.pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &::before {
        content: "";
        width: 63px;
        height: 1px;

        margin-right: 21px;
    }
}

