:root {
    --main-title-color: #ffffff;
    --second-title-color: #303030;
    --main-text-color: #555555;
    --second-text-color: rgba(157, 164, 189, 0.6);
    --third-text-color: #9da4bd;
    --fourth-text-color: #303030;
    --accent-color: #ff6c00;
    --main-btn-color: #ffffff;
    --second-btn-color: #303030;
    --header-text-color: #ffffff;
}